@use "../../styles/variables.scss" as *;

.information-box {
  img {
    max-height: 350px;
  }

  blockquote.infobox.callout {
    border-radius: 5px;
    background: unset;
    border-color: var(--lightgray);
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 8px;
    margin-top: 0;
    margin-bottom: 0;

    .callout-title {
      .callout-icon {
        color: var(--secondary);
        background-color: var(--secondary);
      }
      
      p {
        color: var(--secondary);
      }
    }

    .callout-content {
      h1 {
        font-size: 18px;
      }
    }
  }

  a.internal[role="anchor"] {
    background-color: unset;
  }

  & p:has(img) {
    text-align: center;
  }

  & table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    tr {
      td:first-child {
        font-weight:bold;
        color: var(--dark)
      }
    }

    th:first-child {
      width: 84px;
    }

    td {
      word-wrap: break-word;
      border-top: 1px solid var(--lightgray);
      margin: 0;
        padding: 6px 10px;
    }
  }

  @media all and not ($desktop) {
    min-width: 100%;
  }
}