@use "./variables.scss" as *;
@use "./base.scss";

// put your custom CSS here!
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.sidebar.right {
  height: unset !important;

  @media all and not ($desktop) {
    flex-wrap:wrap;
  }
}