@use "./variables.scss" as *;
@use "./base.scss";

// put your custom CSS here!
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.sidebar.right {
  height: unset !important;

  @media all and not ($desktop) {
    flex-wrap:wrap;
    flex-direction: column !important;
  }
}

// add line to all h1 inside article elements
article h1 {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 8px;
  margin-bottom: 8px;
}

// removed backgrounds of links
a.internal {
  background-color:unset;
}

// modified blockquote styles
article blockquote {
  & p {
    margin: 0;
    font-style: normal;
  }
}

// When a blockquote's neighbor element is a ul, we must indent the blockquote as well. This only applies to mobile since there are already margins in desktop view.
ul + blockquote {
  @media all and ($mobile) {
    & {
      margin-left:40px;
    }
  }
}

// modified article-title style
.article-title {
  font-size: 2rem;

  @media all and not ($desktop) {
    & {
      font-size: 1.75rem;
    }
  }
}

.page-title {
  @media all and ($mobile) {
    & {
      font-size: 1rem;
    }
  }
}

// Added indentation to h3 so it looks good on Session Log Pages
.center article > h3 {
  margin-top: 8px;
  margin-bottom: 0;
  text-indent: 20px;
}

// Added styles on index.md table.
table.index-table {
  margin: 0 !important;
  line-height: unset !important;
  width: 100%;

  & > tbody {
    line-height: unset !important;
    
    & > tr {
      border-bottom: none;

      & > td {
        padding: 0;
        padding-top: 8px;
        padding-bottom: 8px;

        & > center > a.internal {
          line-height: unset !important;
          font-size: 1rem;

          @media all and ($mobile) {
            & {
              font-size: 0.7rem;
            }
          }

          & > img {
            object-fit: contain;
            height: 168px;
            margin: 0;

            @media all and ($mobile) {
              & {
                height: 86px;
              }
            }
          }
        }
      }
    }
  }
}