@use "./variables.scss" as *;
@use "./base.scss";

// put your custom CSS here!
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.sidebar.right {
  height: unset !important;

  @media all and not ($desktop) {
    flex-wrap:wrap;
  }
}

// add line to all h1 inside article elements
article h1 {
  border-bottom: 1px solid var(--lightgray);
  padding-bottom: 8px;
  margin-bottom: 8px;
}